SHELL=/bin/bash
*/5 * * * * sh /home/pi/raspberry-pi-time-lapse/take-snapshot >> /home/pi/raspberry-pi-time-lapse/snapshots.log 2>&1
@reboot /home/pi/raspberry-pi-time-lapse/server >> /home/pi/raspberry-pi-time-lapse/server.log 2>&1
0 0 * * * /home/pi/raspberry-pi-time-lapse/create-yesterday-time-lapse >> /home/pi/raspberry-pi-time-lapse/time-lapse.log 2>&1